html{
	background-color: #ebfaeb;
	padding-top: 0;
	margin-top: 0;
}

body{
	font-family: "Arial", Helvetica, sans-serif;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
    margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

#banner{
	background-color: #2eb82e;
	margin-top: 0;
	margin-bottom: 10px;
	border-bottom: thin solid #1b4b1b;
}

h2{
	color: white;
	padding: 10px;
	margin: 0;
	text-align: center;
}

#loginContent{
	background-color: #d9f2d9;
	position: absolute;
	border: thin solid #1b4b1b;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

form{
	padding: 100px;
}